/*--NORMALIZACIÓN GENERAL DE LA PÁG.--*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

:root {
  /*---Estilos variables generales---*/
  /* Palette */
  --primary-solid: #ff3333;
  --primary-900: rgb(255, 51, 51, 0.9);
  --primary-500: rgb(255, 51, 51, 0.5);
  --primary-300: rgb(255, 51, 51, 0.3);

  --secondary-solid: #1d84b5;
  --secondary-900: rgb(29, 132, 181, 0.9);
  --secondary-500: rgb(29, 132, 181, 0.5);
  --secondary-300: rgb(29, 132, 181, 0.3);

  --dark-solid: #1f1f1f;
  --dark-900: rgb(31, 31, 31, 0.9);
  --dark-500: rgb(31, 31, 31, 0.5);
  --dark-300: rgb(31, 31, 31, 0.3);

  /*--para background--*/
  --dark-bg-solid: #30343f;
  --ligh-bg-solid: #30343f;

  --light-font-solid: #ffffff;

  /* Typography */
  --base-font: "Inter", sans-serif;
  --alternative-font: "Raleway", sans-serif;

  /* Font-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.2em;

  /* Spacings */
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------ Estilos generales ------ */

html {
  /*etiqueta raiz(los demas heredan su comportamiento)*/
  font-family: var(--base-font);
  font-size: 62.5%; /*sirve para calcular mejor la medida de "em".ej: 18px = 1.8em*/
  color: var(--dark-solid);
}

a {
  /*enlaces-fuentes*/
  text-decoration: none !important;
  font-size: 15px;
  font-family: inherit;
  color: inherit; /*siempre toma el valor heredado*/
}

header,
footer {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
}

ul,
ol {
  /*listas*/
  list-style-type: none;
}

p {
  /*parrafos*/
  font-size: 1.8em;
}

.container {
  /*margenes de la página automáticos*/
  max-width: 1200px;
  margin: 0 auto;
}

.titulo {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 700;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.formulario {
  font-family: var(--base-font);
  margin: auto;
  width: 370px;
  height: 150px;
}
.formulario label {
  float: left;
  font-size: var(--font-large);
  font-weight: 500;
  margin: 5px 0 20px 0;
  clear: left;
}
.formulario input {
  float: right;
  border: none;
  border-bottom: 2px solid var(--primary-solid);
  font-size: var(--font-small);
  padding: 3px 0;
  width: 210px;
  transition: border-color 0.3s;
  &:focus,
  &:hover {
    border-color: #03a9f4;
    outline: 0;
  }
}

.btn_1 {
  margin-right: var(--spacing-36);
  background-color: var(--primary-solid);
  color: white;
  font-size: var(--font-xsmall);
  padding: 10px 25px;
  border: none;
  border-radius: 2px;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.8);
  }
}
.recordarme {
  font-size: var(--font-medium);
  font-family: "Inter";
}
.sub_text {
  /* color: var(--secondary-solid); */
  font-family: "Inter";
  font-size: var(--font-small);
  margin-top: 20px;
  text-decoration: none;
}

.mycheck {
  border: 4px solid black;
}

/*---Footer---*/
.footer {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-128);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__copy {
  margin-top: var(--spacing-36);
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  font-family: var(--alternative-font);
  text-decoration: none;
  color: var(--light-font-solid);
}

/*------ Header ------ */
.header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-28);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  font-family: var(--alternative-font);
}
.navbar__logo {
  max-width: 300px;
  gap: var(--spacing-36);
  margin-left: 300px ;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-36);
  margin-right: 272px;
}
.navbar__links {
  /* font-size: var(--font-medium); */
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: 0.3s ease-in-out;
  position: relative;
}

.navbar__link:hover {
  background-color: var(--primary-900);
}
