/* ----- ESTILOS PARA LA PÁGINA DE "CARRITO" -----*/

/* Título del carrito */
.cart {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68);
}

.cart__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: var(--spacing-8);
}

.cart__title span {
    border-bottom: 5px solid var(--primary-solid);
    padding-bottom: var(--spacing-8);
}

/* Estilos para la tabla de artículos en el carrito */

/* Nombre de columnas */
.cart-name {
    border-radius: 10px;
    background: #FAFAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: var(--spacing-16);
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--spacing-28);
}

.cart-name__detail {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0rem;
}

/* Estilos para cada artículo en el carrito */

.cart__items {
    padding: 0;
}

.cart__item {
    width: 100%;
    border-radius: 25px;
    background: #FAFAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: var(--spacing-16);
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--spacing-28);
}

.cart-item__article {
    display: flex;
    width: 41rem;
    align-items: center;
    gap: var(--spacing-16);
}

/* Estilos para la imagen del artículo */
.cart-item__image img {
    max-width: 10rem;
    height: auto;
}

.cart-item__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-20);
}

.cart-item__details__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.cart-item__name {
    font-size: var(--font-large);
    font-weight: 700;
}

.cart-item__licence {
    color: #30343F;
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.cart-item__price {
    color: var(--dark-bg-solid);
    font-size: var(--font-xsmall);
    font-weight: 400;
}

/* celda de quantity de unidades ((VER CÓMO HACER QUE QUEDE CON COLORCITOS)) */
.cart__quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-quantity__estilos input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

/* Total del producto ((SOLO VISUAL X AHORA)) */
.cart-price {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;
}

/*boton eliminar (((PARA CORREGIR)))*/
.cart-remove img {
    fill: var(--primary-solid);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: var(--spacing-28);
    height: var(--spacing-28);
}

.cart-remove:hover {
    color: var(--primary-300);
}


/* Estilos para el resumen del carrito */
.cart-summary {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-36);
    text-align: right;
    width: 50%;
    margin-left: auto;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .cart-summary {
      width: 100%;
    }
  }


/* Caja de detalles del resumen */
.summary-details {
    display: inline-flex;
    padding: var(--spacing-24);
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: #FAFAFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: var(--spacing-28);
}
.summary-details div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.description {
    font-size: var(--font-small);
    font-weight: 700;
    margin: 0;
}

.price {
    color: #747474;
    font-size: var(--font-small);
    font-weight: 700;
    margin: 0;
}


.summary-total {
    font-weight: 700;
    font-size: var(--font-medium);
    border-top: 2px solid var(--primary-solid);
}

/* Estilos para el botón "Ir a Pagar" */
.checkout-button {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-xlarge);
    font-weight: 700;
    text-transform: uppercase;
    padding: var(--spacing-12) var(--spacing-36);
    border: none;
    border-radius: 55px;
    cursor: pointer;
    margin-top: var(--spacing-24);
    margin-bottom: var(--spacing-128);
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.checkout-button:hover {
    background-color: var(--primary-500);
}

