
/*------ ESTILOS MAIN DE EDIT & CREATE ------*/

.input_txt input, .input_txt_2 input {
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: 16px; 
    padding: 3px 0;
    font-size: 16px; 
    outline: 0;
}

.input_txt label, .input_txt_2 label {
    font-size: var(--font-large);
    margin: 0 var(--spacing-8) var(--spacing-12) 0;
    clear: left;    
}

.input_txt_2 input {
    width: 100px;
}

.input_txt_3 {
    max-width: 40px;
}

.input_txt input {
    width: 250px;
}

/*-------*/

.selector {
    font-size: var(--font-large);
}

.selector select {
    border-color: var(--dark-bg-solid);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.container_edit textarea {
    font-size: var(--font-large);
    border-radius: 5px;
}

#select_img label {
    font-size: var(--font-large);
}

#select_img input  {
    font-size: var(--font-xsmall);
}

.product_img {
    display: none;
}




