/*----- ITEM -----*/

.producto {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 2fr;

  gap: var(--spacing-24);
}
.producto__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-8);
}
.producto__price {
  font-size: var(--font-jumbo);
}
.producto__contador {
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
}
.producto__cover {
  width: 100%;
}
.contador__btn {
  border: none;
  background: transparent;
  background-color: var(--primary-solid);
}

.contador__btn:hover {
  background-color: rgb(128, 2, 2);
}

.contador {
  max-width: 60px;
  padding: 8px;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: 700;
  font-family: var(--alternative-font);
}

.icono-minus,
.icono-plus {
  /* background-color: #ff3333; */
  color: var(--light-font-solid);
  font-size: var(--font-large);
  padding: 3px;
}

.icono-minus:hover,
.icono-plus:hover {
  cursor: pointer;
  /* background-color: rgb(128, 2, 2); */
}

.producto__metodo-pago {
  color: var(--secondary-solid);
  font-weight: 700;
  font-size: var(--font-xsmall);
}

.metodo-pago__span {
  text-decoration: underline;
}
.producto__title {
  font-size: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
}

.producto__description {
  font-size: var(--font-large);
  font-weight: 300px;
}

.producto__collection {
  font-size: var(--font-small);
  font-weight: 600;
  text-transform: uppercase;
}

.container-item {
  padding-block: var(--spacing-68);
}

.producto__cover {
  display: flex;
}

.producto__img--back {
  display: none;
}

.producto__cover:hover .producto__img--back {
  display: block;
}
.producto__cover:hover .producto__img--front {
  display: none;
}

.producto__cover img {
  animation: fade 0.7s;
  -webkit-animation: fade 0.7s;
}
