/*------ ESTILOS MAIN DE REGISTER & LOGIN ------*/

.container_log {
    color: var(--dark-solid);
    margin: var(--spacing-36) 0;
}

#subtitulo {
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    margin: var(--spacing-24) 0;
}

.formulario {
    font-family: var(--base-font);
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-12);
}

.formulario label {
	text-align: right;
	margin-right: 2em;
    font-size: var(--font-large);
    font-weight: 500;
    margin: 0 10px 20px 0;
}

.formulario input {
    float: right;
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-small); 
    padding: 3px 0;
    width: 210px;
    transition: border-color 0.3s;
    &:focus,
    &:hover {
      border-color: #03a9f4;
      outline: 0;
    }
}

.acepto_terminos {
    font-size: var(--font-medium);
    margin-left: var(--spacing-24);
}

.terminos_condiciones {
    color: var(--secondary-solid);
}

/*-------*/
  
.recordarme {
    font-size: var(--font-medium);
    margin-left: var(--spacing-8);
}

.recordarme input {
    margin-left: 1em;
}
  
.mycheck {
    border: 4px solid black;
}

.sub_text a{
    text-decoration: none;
}



/*------ ESTILOS MAIN DE CONTACTO ------*/

.inf_contacto {
    text-align: center;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    border-radius: 6px;
    padding: var(--spacing-36);
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.contacto__text{
    margin-top: 5px;
    font-size: var(--font-small);
}

.lineas_contacto {
    text-align: left;
    display: inline-flexbox;
	  margin: var(--spacing-24);
    padding: var(--spacing-12);
    color: var(--light-font-solid);
}

.lineas_contacto a {
    text-decoration: none;
    color: inherit;
}

.lineas_contacto iconify-icon {
    color: inherit;
    font-size: var(--font-small);
    margin-right: var(--spacing-8);
}

.contacto__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contacto__link{
    font-size: var(--font-small);
}
.contacto__link:hover {
    color: var(--primary-900);
    transition: 0.5s;
}

.form_contact form{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  pad: var(--spacing-16);
}



.input_txt textarea {
  border: 2px solid var(--primary-solid);
  border-radius: 6px;
  font-size: var(--font-small);
  padding: var(--spacing-8);
}
