/*------ ASIDE ------ */

.container {
  display: flex;
}

.full-carousel {
  flex: 1;
}

.aside {
  width: 300px;
  margin-top: var(--spacing-68);
}

.filters {
  margin-top: var(--spacing-24);
}

.title_filters {
  font-size: var(--font-large);
  font-weight: 500;
}

.filters input[type="checkbox"] {
  margin-right: 5px;
}

.filters input[type="text"],
.filters select,
.filters input[type="number"] {
  width: 243px;
  height: 44px;
  padding: 0px 10px;
  font-size: var(--font-small);
  border: 2px solid #30343F;
  border-radius: 6px;
}

.filters input[type="number"] {
  width: 60px;
  height: 28px;
}






/*------ COLLECTION ------ */
.full-carousel picture img {
  width: 300px;
  height: 300px;
}

.full-carousel span img:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.slider__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: var(--spacing-68);
}




/*--- PAGINACIÓN ---*/

.container_pag {
  margin: var(--spacing-68);
}

.container_pag ul {
  display: flex;
  justify-content: center;
}

.container_pag li {
  margin: 0.25em;
  padding-top: 8px;
  text-align: center;
}

.container_pag li a, .container_pag iconify-icon {
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-weight: 700;
}

.pag_item {
  width: 44px;
  height: 44px; 
  color: var(--dark-bg-solid);
  border: 1px solid #dfe3e8;
  border-radius: 4px;
}

.active {
  color: var(--primary-solid) !important;
  border-color: var(--primary-solid);
}

.inactive {
  background-color: rgba(153, 158, 161, 0.8);
}







