<!DOCTYPE html>
<html lang="en">
<head>
    <!--Inf meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="html, css, js, javascript, codo a codo">

    <!-- Título-->
    <title> About Us │ Funkoshop </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <!-- CSS -->        
    <link rel="stylesheet" href="../Css/about.css">
    <link rel="stylesheet" href="../Css/index.css">
</head>

<body>

    <!-- Encabezado -->
    <%- include ('partials/header') %>
    <!-- Fin del Encabezado -->

    <!--Banner-->
    <section class="hero_about">
        <article class="row">
            <div class="col-7">
                <h2 class="titulo">SOBRE NOSOTROS</h2>
                <p>Funkoshop se creó desde la fascinación por la cultura Pop!.
                    Nuestra misión es proporcionar a nuestros clientes los coleccionables más conocidos
                    y exclusivos, garantizando una experiencia de compra única y de gran calidad.
                </p>
            </div>
        </article>
    </section>
    <!---->


    <!-- Contenido -->
    <main>

        <ul class="cards_about row">                         
            <li class="col-6 col-lg-4">
                <div class="card_about">
                    <img src="../Assets/Img/1_about.png" class="img-fluid" alt="" loading="lazy">
                    
                    <div class="content_card">
                        <h4 class="card_item card-item__name">FUNKOSHOP</h4>

                        <p class="card_item">Visita nuestra tienda y encuentra todos tus coleccionables favoritos</p>
        
                        <a class="collection__link" href="/shop">IR A LA TIENDA</a>   
                    </div>
                </div>
            </li>

            <li class="col-6 col-lg-4 my_card">
                <div class="card_about">
                    <img src="../Assets/Img/2_about.png" class="img-fluid" alt="" loading="lazy">
                    
                    <div class="content_card">
                        <h4 class="card_item card-item__name">CONTACTANOS</h4>
                        
                        <p class="card_item">Puedes visitar nuestra sucursal Funkoshop o enviarnos un mensaje</p>
        
                        <a class="collection__link" href="/contact">IR A CONTACTO</a>   
                    </div>
                </div>
            </li>
            
            <li class="col-6 col-lg-4">
                <div class="card_about">
                    <img src="../Assets/Img/3_about.png" class="img-fluid" alt="" loading="lazy">
                    
                    <div class="content_card">
                        <h4 class="card_item card-item__name">PREGUNTAS FRECUENTES</h4>
                        
                        <p class="card_item">¿Tienes dudas? Entra a nuestra sección de preguntas</p>
        
                        <a class="collection__link" href="/faqs">IR A FAQS</a>   
                    </div>
                </div>
            </li>


        </ul>
        

    </main>
    <!-- Fin del Contenido -->

    <!-- Encabezado -->
    <%- include ('partials/footer') %>
    <!-- Fin del Encabezado -->

</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<!----->


</html>