<!DOCTYPE html>
<html lang="en">
<head>
    <!--Inf meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="html, css, js, javascript, codo a codo">

    <!-- Título-->
    <title> Registrarse │ Funkoshop </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- CSS -->        
    <link rel="stylesheet" href="../Css/index.css">
    <link rel="stylesheet" href="../Css/login.css">
    <link rel="stylesheet" href="../Css/edit_create.css">

</head>


<body>

    <!-- Encabezado -->
    <%- include ('partials/header') %>
    <!-- Fin del Encabezado -->


    <!-- Contenido -->
    <main class="container my-5">
    
      <div class="row">
    
        <!-- Información de contacto -->
        <div class="inf_contacto col-6">

          <h3 class="titulo"> CONTACTANOS </h3>

            <div class="lineas_contacto telefono">
                <h3 class="contacto__tittle">WHATSAPP</h3>
                <p class="contacto__text">Si tenés dudas o sugerencias podés comunicarte al </p>
                <a class="contacto__link" href="wa.me/1155557778888"><iconify-icon icon="ph:whatsapp-logo-fill"></iconify-icon>+54 11 55778899</a>
            </div>
          
            <div class="lineas_contacto email">
                <h3 class="contacto__tittle">SOPORTE</h3>
                <p class="contacto__text">Si surge algún problema contactanos a nuestro email</p>
                <a class="contacto__link" href="funkoshop@support.com"><iconify-icon icon="uiw:mail"></iconify-icon> funkoshop@support.com</a>
            </div>
        
            <div class="lineas_contacto ubicacion">
                <h3 class="contacto__tittle">UBICACIÓN</h3>
                <p class="contacto__text">¿Quieres visitarnos? Nos encontramos ubicados en</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53608.97862575755!2d-68.89971905953121!3d-32.88332844618163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e093ec45179bf%3A0x205a78f6d20efa3a!2sMendoza%2C%20Capital%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1700322597606!5m2!1ses-419!2sar"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></a>
            </div>
            
        </div>
    
        <!-- Formulario de contacto -->
        <div class="form_contact col-6 my-5">
          <form class="justify-content-center align-items-center" action="#" method="post">
          
            <h3 class="titulo">Envianos tu mensaje</h3>
            <p class="text-center">Completa los campos, y nos comunicaremos con vos lo mas pronto posible</p>

            <div class="input_txt mt-4">
              <label for="correo">Correo:</label>
              <input type="text" id="correo" name="correo">
            </div>
    
            <div class="input_txt mt-4">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre">
            </div>
    
            <div class="input_txt mt-4">
              <label for="asunto">Asunto:</label>
              <input type="text" id="asunto" name="asunto">
            </div>
            
            <div class="input_txt mt-4">
              <textarea name="mensaje" rows="6" cols="50%" placeholder="Deja aquí tu mensaje..." required></textarea>
            </div>
    
            <button type="submit" class="btn_1 mt-4">Enviar</button>
          
          </form>
        </div>
        <!-- End .contact -->
    
      </div>
      <!-- End .wrapper -->
    </main>
    <!-- Fin del Contenido --> 

    <!-- Pie de página -->
    <%- include ('partials/footer') %>
    <!-- Fin de pie de página -->
</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<!----->

</html>