<!DOCTYPE html>
<html lang="en">
<head>
    <!--Inf meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="html, css, js, javascript, codo a codo">

    <!-- Título-->
    <title> Faqs │ Funkoshop </title>

    <!-- Ícono -->
    <link rel="icon" href="../Assets/Img/branding/isotype.svg">     
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- CSS -->        
    <link rel="stylesheet" href="../Css/faqs.css">
    <link rel="stylesheet" href="../Css/index.css">   
</head>


<body>


  <%- include ('partials/header') %>   

  <main class="container my-5">

    <h1 class="titulo text-center">Preguntas Frecuentes</h1>

    <section class="faq-section">
  
      <div class="faq-item">
        <h2>¿Cómo puedo comprar un Funko en tu tienda?</h2>
        <p>Respuesta a la pregunta 1.</p>
      </div>
  
      <div class="faq-item">
        <h2>¿Cuánto tiempo se tarda en recibir mi pedido?</h2>
        <p>Respuesta a la pregunta 2.</p>
      </div>
      
       <div class="faq-item">
        <h2>¿Qué hago si mi Funko llega dañado?</h2>
        <p>Respuesta a la pregunta 2.</p>
      </div>
      
       <div class="faq-item">
        <h2>¿Cómo puedo crear una cuenta en su sitio?</h2>
        <p>Respuesta a la pregunta 2.</p>
      </div>
  
      <!-- Agrega más preguntas y respuestas según sea necesario -->
  
    </section>

  </main>


  <%- include ('partials/footer') %>   

</body>
</html>