<!DOCTYPE html>
<html lang="en">
<head>
    <!--Inf meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="html, css, js, javascript, codo a codo">
        
    <!-- Título-->
    <title> Funkoshop │ Home </title>
    
    <!-- Ícono -->
    <link rel="icon" href="../Assets/Img/branding/isotype.svg">    
    
    <!-- Glide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
 
    <!-- CSS -->
    <link rel="stylesheet" href="./Css/index.css">
</head>

<body>

    <!-- Encabezado -->
    <%- include ('partials/header') %>
    <!-- Fin del Encabezado -->

    <!-- Faqs -->
    <section class="fixed-bottom" data-bs-toggle="tooltip" title="Preguntas frecuentes">
        <a href="faqs" class="faqs">
            <iconify-icon icon="icon-park-solid:help"></iconify-icon>
        </a>
    </section>

    
    <!--Banner-->
    <section class="hero">
        <article class="hero__content container">
            <h2 class="hero__title">Nuevos Ingresos</h2>
            <p class="hero__text">Descubrí el próximo Funko Pop de tu colección</p>
            <a class="hero__link" href="/shop">SHOP</a>
        </article>
    </section>
    <!---->

    <!-- Contenido -->
    <main class="main-container">

        <!-- Artículos -->
        <section class="collection container">
                <article class="collection__content">
                    <h3 class="collection__tittle">STAR WARS & THE MANDALORIAN</h3>
                    <p class="collection__text">Disfruta de una saga que sigue agregando personajes a su colección.</p>
                    <a class="collection__link" href="/shop">VER COLECCIÓN</a>
                </article>
                <picture class="collection__cover">
                    <img src="../Assets/Img/star-wars/baby-yoda-1.webp" alt="Coleccionable figura Mandalorian BBYoda">
                </picture>
        </section>  
        <section class="collection container">
            <article class="collection__content">
                <h3 class="collection__tittle">POKEMON INDIGO</h3>
                <p class="collection__text"> Atrapa todos los que puedas y disfruta de una colección llena de amigos.</p>
                <a class="collection__link" href="/shop">VER COLECCIÓN</a>
            </article>
            <picture class="collection__cover">
                <img src="../Assets/Img/pokemon/vulpix-1.webp" alt="Coleccionablefigura vulpix-1">
            </picture>
        </section>
        <section class="collection container">
            <article class="collection__content">
                <h3 class="collection__tittle">HARRY POTTER</h3>
                <p class="collection__text">Revive los recuerdos de una saga llena de magia y encanto.</p>
                <a  class="collection__link" href="/shop">VER COLECCIÓN</a>
            </article>
            <picture class="collection__cover">
                <img src="../Assets/Img/harry-potter/snape-patronus-1.webp" alt="Coleccionable figura snape-patronus-1">
            </picture>
        </section>
        
        <!-- Slider -->
        <%- include ('partials/slider') %>
        <!---->
    </main>
    <!---->

    <!-- Pie de página -->
    <%- include ('partials/footer') %>
    <!---->
</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="Js/glide.js"></script>
<!----->

</html>