<!DOCTYPE html>
<html lang="es">
<head>
    <!--Inf meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="html, css, js, javascript, codo a codo">

    <link rel="shortcut icon" href="/src/public/Assets/Img/branding/isotype.svg" type="image/x-icon">

    <!-- Título-->
    <title> Articulo │ Funkoshop </title>
    
    <!-- Ícono -->
    <link rel="icon" href="../Assets/Img/branding/isotype.svg">     
    
    <!-- Glide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
     
    <!-- CSS -->
    <link rel="stylesheet" href="../Css/item.css">
    <link rel="stylesheet" href="../Css/index.css">
</head>

<body>
    <!-- Encabezado -->
    <%- include ('partials/header') %>
    <!-- Fin del Encabezado -->

    <!-- Contenido -->
    <main class="container container-item">
      <section class="producto">
        <picture class="producto__cover">
          <img class="producto__img--front" src="../Assets/Img/star-wars/baby-yoda-1.webp" alt="funko baby yoda">
          <img class="producto__img--back" src="../Assets/Img/star-wars/baby-yoda-box.webp" alt="funko baby yoda">
        </picture>
        <article class="producto__content">
          <p class="producto__collection">STAR WARS</p>
          <h3 class="producto__title">BABY YODA BLUEBALL</h3>
          <p class="producto__description">
            Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga,
            edición limitada.
          </p>
          <p class="producto__price">$1799,99</p>
          <div class="producto__contador">
            <button class="contador__btn" id="sustract">
              <iconify-icon
                class="icono-minus"
                icon="typcn:minus"
              ></iconify-icon>
            </button>
            <input
              class="contador"
              type="text"
              value="0"
              name="quantity"
              id="quantity"
              disabled
            />
            <button class="contador__btn" id="add">
              <iconify-icon class="icono-plus" icon="typcn:plus"></iconify-icon>
            </button>

            <button class="btn-carrito">Agregar al carrito</button>
          </div>
          <a href="#" class="producto__metodo-pago">
            <span class="metodo-pago__span">Ver metodos de pago</span> - 3
            CUOTAS SIN INTERES</a
          >
        </article>
      </section>
      <section class="slider container glide">
        <h2 class="slider__title">ÚLTIMOS LANZAMIENTOS</h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__items glide__slides">
            <li class="slider__item glide__slide">
              <article class="card-item">
                <a class="card-item__link" href="">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                    <img
                      class="card-item__img--front"
                      src="../Assets/Img/star-wars/trooper-1.webp"
                      alt="FunkoPop de Trooper de la serie The Mandalorian"
                    />
                    <img
                      class="card-item__img--back"
                      src="../Assets/Img/star-wars/trooper-box.webp"
                      alt="FunkoPop de Trooper de la serie The Mandalorian"
                    />
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence">STAR WARS</p>
                    <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                    <p class="card-item__price">$ 1799,99</p>
                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
                </a>
              </article>
            </li>
            <li class="slider__item glide__slide">
              <article class="card-item">
                <a class="card-item__link" href="">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                    <img
                      class="card-item__img--front"
                      src="../Assets/Img/pokemon/pidgeotto-1.webp"
                      alt="FunkoPop de Pidgeotto de la serie Pokemon"
                    />
                    <img
                      class="card-item__img--back"
                      src="../Assets/Img/pokemon/pidgeotto-box.webp"
                      alt="FunkoPop de Pidgeotto de la serie Pokemon"
                    />
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence">POKEMON</p>
                    <h4 class="card-item__name">PIDGEOTTO</h4>
                    <p class="card-item__price">$ 1799,99</p>
                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
                </a>
              </article>
            </li>
            <li class="slider__item glide__slide">
              <article class="card-item">
                <a class="card-item__link" href="">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                    <img
                      class="card-item__img--front"
                      src="../Assets/Img/harry-potter/luna-1.webp"
                      alt="FunkoPop de Luna de la película Harry Potter"
                    />
                    <img
                      class="card-item__img--back"
                      src="../Assets/Img/harry-potter/luna-box.webp"
                      alt="FunkoPop de Luna de la película Harry Potter"
                    />
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence">HARRY POTTER</p>
                    <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                    <p class="card-item__price">$ 1799,99</p>
                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
                </a>
              </article>
            </li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon
              class="slider__icon"
              icon="ic:round-chevron-left"
            ></iconify-icon>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon
              class="slider__icon"
              icon="ic:round-chevron-right"
            ></iconify-icon>
          </button>
        </div>
      </section>
    </main>
    <!-- Fin del Contenido -->

    <!-- Pie de página -->
    <%- include ('partials/footer') %>
    <!-- Fin de pie de página -->
</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="../js/item.js"></script>
<script src="../js/glide.js"></script>
</html>