    <!-- Pie de página -->
    <footer class="footer" >
        <nav class="navbar container">
            <ul class="navbar__items">
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/shop.html">HOME</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../Assets/Img/branding/isotype.svg" alt="Isotipo de FunkoShop">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>  
    <!-- Fin de pie de página -->
