<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/login">INGRESAR</a>
            </li>                    
            <li class="navbar__item">
                <a class="navbar__link" href="/contact">CONTACTO</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/about">ABOUT US</a>
            </li>             
        </ul>
        <picture>
            <img src="/Assets/Img/branding/isotype.svg" alt="Isotipo de la marca Funko Shop">
        </picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkshop & copy</p>
</footer>