<header>
    <nav class="container navbar">
      <!---->
        <picture class="navbar__logo">
            <a href="/home">
                <img src="/Assets/Img/branding/logo_light_horizontal.svg" alt="isologo funkos shops">
            </a>
        </picture>

        <ul class="navbar__menu">
            <li class="navbar__item">
              <a class="navbar__link" href="/shop">VER TIENDA</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link" href="/admin">ADMIN</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link" href="/home">SALIR</a>
            </li>
        </ul>
        <!---->
    </nav>
</header>