<header>
    <nav class="container navbar">
      <!---->
        <picture class="navbar__logo">
            <a href="">
                <img src="../Assets/Img/branding/logo_light_horizontal.svg" alt="isologo funkos shops">
            </a>
        </picture>

        <ul class="navbar__menu">
            <li class="navbar__item">
              <a class="navbar__link" href="shop.html">VER TIENDA</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link" href="admin.html">ADMIN</a>
            </li>
            <li class="navbar__item">
              <a class="navbar__link" href="index.html">SALIR<iconify-icon icon="mdi:chevron-down"></iconify-icon></a>
            </li>
        </ul>
        <!---->
    </nav>
</header>