<header>
    <!--Navbar-->
    <nav class="navbar">
        <picture class="navbar__logo">
            <a href="./index.html">
                <img src="./Assets/Img/branding/logo_light_horizontal.svg" alt="Isotipo de FunkoShop">
            </a>
        </picture>

        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="./pages/shop/shop.html">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Llaveros</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./pages/contact.html">CONTACT</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./pages/admin/login.html">LOGIN</a>  
            </li>
            <li class="navbar__item">
                <a class="navbar__cart" href="Pages/carrito.html">
                    <img src="./Assets/Img/icons/cart-icon.svg" alt="Icono del carrito">
                </a>
            </li>
        </ul>
    </nav>
    <!---->
</header>